body {
    background-color: #bbc5ec;
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: #213391;
    font-family: monospace;
}

.wrapper {
    background-color: #6d9ef8;
    border: 4px solid black;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 275px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.display {
    border: 2px solid black;
    width: 265px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #3346b0;
    font-size: xx-large;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 35px;
}

.operations {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 15px;
    padding-top: 5px;
}

.buttons > *, .operations > * {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    transition: .2s all;
    font-size: x-large;
}

.buttons > *:active, .operations > *:active {
    transform: scale(.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}